@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --art: #ff9501;
}

.art::selection {
    color: var(--art);
}

.art-opp::selection {
    background-color: var(--art);
    color: white;
}

.method-title{
    font-weight: 700;
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 1rem;
}

.masking{
    font-size: 7rem;
    font-weight: 800;
    line-height: 0.9;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: url(/art/NationalMuseum.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.persona {
    display: grid;
    grid-template-columns: 33% 33.5% 33.5%;
    grid-template-rows: 10% 10% 10% 10% 60%;
    background-color: #fbfbfb;
}

.persona .box {
    padding: 1rem;
}

.persona p {
    color: black;
    font-size: 1rem;
    line-height: 1.6;
}

.persona .quotes {
    font-family: "Noto Serif", serif;
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 1.5;
    text-align: center;
    background-color: rgb(240, 240, 240);
    border-radius: 1rem;
    padding: 0.8rem;
}

.persona .title {
    color: rgb(196, 196, 196);
    font-weight: 800;
    font-size: 1.1rem;
}

.persona .profile-img {
    grid-area: 1 / 1 / 5 / 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.persona .profile-desc {
    grid-area: 1 / 2 / 5 / 2;
}

.persona .profile {
    line-height: 1;
    padding: 0 1rem;
}

.persona .bio {
    grid-area: 5 / 1;
}

.persona .needs {
    grid-area: 5 / 2;
}

.persona .experience {
    grid-area: 5 / 3;
}

.persona #EI {
    grid-area: 1 / 3;
}

.persona #SN {
    grid-area: 2 / 3;
}


.persona #TF {
    grid-area: 3 / 3;
}

.persona #JP {
    grid-area: 4 / 3;
}

.persona .bars {
    width: 90%;
    height: 100%;
    margin: auto;
    position: relative;
    padding-top: 20px;
}

.persona .bar {
    position: absolute;
    width: 100%;
    height: 20px;
    margin: auto;
    background: #eee;
}

.persona .circle {
    width: 20px;
    height: 20px;
    background-color: var(--art);
}

.persona .leftside {
    left: 0;
}

.persona .rightside {
    right: 0;
}

.persona .bars p {
    position: absolute;
    top: 40px;
    font-size: 0.8rem;
}

/********** Persona 1 **********/

#persona1 .profile-img {
    background-image: url(/art/portrait1.jpg);
}

#persona1 #EI .circle {
    position: absolute;
    left: 20%;
}

#persona1 #SN .circle {
    position: absolute;
    left: 30%;
}

#persona1 #TF .circle {
    position: absolute;
    left: 80%;
}

#persona1 #JP .circle {
    position: absolute;
    left: 10%;
}

/********** Persona 2 **********/

#persona2 .profile-img {
    background-image: url(/art/portrait2.jpg);
}

#persona2 #EI .circle {
    position: absolute;
    left: 80%;
}

#persona2 #SN .circle {
    position: absolute;
    left: 60%;
}

#persona2 #TF .circle {
    position: absolute;
    left: 40%;
}

#persona2 #JP .circle {
    position: absolute;
    left: 80%;
}

.persona table {
    width: 100%;
    height: auto;
    border-collapse: collapse;
}

.persona h3 {
    margin: 0.5rem 0 0.2rem 0;
}

.persona th {
    text-align: left;
    width: 6rem;
}

/********** Journey-map  **********/

.journey-profile {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
}

.journey-map {
    border-collapse: collapse;
    padding: 1rem;
    min-height: 100vh;
    margin: 0 auto;
}

.journey-touch {
    width: 7.5rem;
    padding: 0 0.5rem
}

.journey-stage {
    width: auto;
    padding: 0 0.5rem
}

.journey-feeling {
    text-align: center;
}

.icon {
    font-size: 1.2rem;
}

.face-smile {
    color: #ffbb01;
}

.face-laugh-beam {
    color: #23ae61;
}

.face-frown {
    color: #e60606;
}

.desktop-screen {
    padding: 0.1rem 0.3rem 0.1rem 0;
    border-radius: 50%;
    font-size: 1rem;
    color: var(--art);
}

.mobile-screen {
    padding: 0.1rem 0.5rem 0.1rem 0;
    border-radius: 50%;
    font-size: 1.2rem;
    color: var(--art);
}

@media (max-aspect-ratio: 1.5) {
    .masking{
        font-size: 5rem;
    }
}

@media (max-aspect-ratio: 1/1) {
    .masking{
        font-size: 6rem;
    }

    .persona {
        display: inline-block;
    }

    .persona .box {
        padding: 0 1rem;
    }

    .persona .profile-img {
        display: none;
    }

    .persona .bio {
        margin-top: 2rem;
    }

    .persona .experience {
        margin-bottom: 30px;
    }

    .persona .bars {
        width: calc(100% - 2rem);
        height: 50px;
    }
    
    .persona .quote {
        padding: 1rem;
    }

    .persona p,
    .persona table {
        font-size: 0.9rem;
        line-height: 1.6;
    }

    .persona .quotes {
        font-size: 1rem;
    }

    .persona th {
        width: 5rem;
    }
}

@media (max-aspect-ratio: 0.7) {
    .masking{
        font-size: 4rem;
    }

    .journey-map .title {
        padding: 1rem 0 0 0;
    }

    .journey-stage {
        padding: 0.5rem 0.25rem;
    }

    .method-title{
        font-size: 2.2rem;
    }
}