@import "tailwindcss";

:root {
  --background: #242424;
  --foreground: #ffffff;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.2;
}

html {
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
}

body {
  background: var(--background);
  color: var(--foreground);
}

ul {
  list-style-type: disc;
  list-style-position: inside;
}

.wrapper {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  scroll-snap-type: y mandatory;
}

h3 {
  font-weight: 700;
  font-size: x-large;
  text-align: center;
  margin: 10px 0;
}

table {
  margin: auto;
  width: 80%;
  font-size: 1rem;
  line-height: 1.4;
}

td li {
  color: black;
}

th {
  padding: 0.5rem 1rem;
}

td {
  padding: 0.5rem;
}

.table {
  table {
    background-color: white;
    color: black;
  }

  th {
    background-color: #f5f5f5;
  }

  tr:nth-child(odd) {
    background-color: #f5f5f5;
  }
}

a {
  font-weight: 600;
  text-decoration: none;
  color: white;
}

ul {
  padding-inline-start: 0;
  line-height: 1.5rem;
}

canvas {
  width: 100vw;
  height: 100vh;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

img {
  margin: auto;
}

.arrow-icon {
  position: fixed;
  top: 50%;
  font-size: 1.5rem;
  padding: 1.4rem;
  transform: translate(0, -50%);
  cursor: pointer;
  z-index: 100;
}

.annotation>div {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.6;
  user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;
}

.sub-desc {
  font-size: 0.8rem;
}

.sub-logo {
  padding-top: 0.2rem;
  display: flex;
  font-size: 0.8rem;
  justify-content: center;
}

.annotation img {
  width: 1rem;
  height: 1rem;
  margin: 0 0.3rem;
}

.iframe-wrapper {
  position: relative;
  background: white;
  border-radius: 60px;
  width: 392px;
  height: 814px;
  overflow: hidden;
}

.current-time {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.web {
  display: block;
}

.mobile {
  display: none;
}

.section-wo {
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

.section {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.section-auto {
  width: 100vw;
  min-height: 100vh;
  position: relative;
}

.section-img {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.left-side {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
}

.right-side {
  flex-basis: 50%;
  position: relative;
  padding-right: 10vw;
  display: flex;
  align-items: center;
}

.stroke {
  margin: 1.5rem 0;
  font-size: 6rem;
  font-weight: 700;
  color: var(--background);
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 0.2rem;
  -webkit-text-stroke-width: 0.2rem;
  -webkit-text-stroke-color: rgba(255, 255, 255, 1);
  paint-order: stroke fill;
  line-height: 0.9;
}

@media (max-aspect-ratio: 1) {
  .arrow-icon {
    top: calc(100% - 2.5rem);
  }

  .flex-container {
    flex-direction: column;
  }

  .mobile {
    display: block;
  }

  .web {
    display: none;
  }

  .left-side {
    flex-grow: 1;
  }

  .left-side,
  .right-side {
    flex-basis: auto;
    width: 100%;
    padding: 2rem;
  }

  .right-side div {
    align-content: flex-end;
  }
}

@media (max-width: 1024px) {
  .flex-wrapper {
    display: block;
    flex-direction: row;
  }
}

@media (max-width: 800px) {
  table {
    width: 90%;
  }

  th {
    display: none;
  }

  td {
    display: flex;
    text-align: left;
    padding: 0.3rem 0.5rem;
  }

  .label::before {
    content: attr(label);
    font-weight: bold;
    min-width: 80px;
  }

  .wideLabel::before {
    content: attr(label);
    font-weight: bold;
    min-width: 110px;
  }
}