:root {
  --dewy: #79ceff;
}

.dewy::selection {
  color: var(--dewy);
}

.bubble {
  background-image: url("/dewy/bubble.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  font-size: 0.8rem;
  width: 1.5rem;
  height: 1.5rem;
  padding: 1rem;
  cursor: pointer;
  border-radius: 50%;
  line-height: 1.5rem;
}

.weatherBtns {
  width: 90vw;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto 3rem auto;
}

.weatherBtn {
  background-image: url("/dewy/bubbleLong.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-size: 1rem;
  font-weight: 600;
  width: 6.5rem;
  height: 3rem;
  padding: 1rem;
  cursor: pointer;
  border-radius: 2rem;
  border: none;
  margin: 0.4rem;
  color: white;
  box-shadow: 1px 1px 5px #8facad7e;
}

.weatherBtn p {
  line-height: 1;
  text-shadow: 1px 1px 8px #4f61628d;
}

.sun {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.sunFace {
  width: 60%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.sunMane {
  width: 100%;
  animation-name: rotate;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 0 0;
  transform: translate(-50%, -50%);
}

.sunFaceCloud {
  left: 35%;
  top: 40%;
  width: 48%;
}

.sunManeCloud {
  left: 35%;
  top: 40%;
  width: 80%;
}

.partlyCloud {
  left: 60%;
  top: 70%;
  width: 80%;
  animation-name: dungdung;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: top center;
}

.cloud {
  left: 50%;
  top: 50%;
  width: 100%;
  animation-name: dungdung;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: top center;
}

.cloudmit {
  top: 30%;
}

@keyframes dungdung {
  0% {
    transform: translate(-50%, -50%);
  }

  50% {
    transform: translate(-50%, -45%);
  }

  100% {
    transform: translate(-50%, -50%);
  }
}

@keyframes rotate {
  0% {
    rotate: 0;
  }

  100% {
    rotate: 360deg;
  }
}

.smog {
  left: 50%;
  width: 90%;
}

.smogT {
  top: 60%;
  animation-name: dungdungNgiggleT;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: top center;
}

@keyframes dungdungNgiggleT {
  0% {
    transform: translate(-45%, 0);
  }

  25% {
    transform: translate(-55%, 5%);
  }

  50% {
    transform: translate(-45%, 10%);
  }

  75% {
    transform: translate(-55%, 5%);
  }

  100% {
    transform: translate(-45%, 0);
  }
}

.smogB {
  top: 80%;
  animation-name: dungdungNgiggleB;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: top center;
}

@keyframes dungdungNgiggleB {
  0% {
    transform: translate(-55%, 0);
  }

  25% {
    transform: translate(-45%, 5%);
  }

  50% {
    transform: translate(-55%, 10%);
  }

  75% {
    transform: translate(-45%, 5%);
  }

  100% {
    transform: translate(-55%, 0);
  }
}

.rain0 {
  left: 20%;
  width: 15%;
}

.rain1 {
  left: 50%;
  width: 20%;
}

.rain2 {
  left: 80%;
  width: 15%;
}

.drizzle0 {
  left: 20%;
  width: 5%;
}

.drizzle1 {
  left: 50%;
  width: 10%;
}

.drizzle2 {
  left: 80%;
  width: 5%;
}

.lightning {
  left: 50%;
  width: 30%;
  transform: translate(-50%, -20%);
}

.drop {
  transform: translateX(-50%);
  animation-name: drop;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 0 0;
}

@keyframes drop {
  0% {
    top: 30%;
    opacity: 0;
  }

  5% {
    top: 30%;
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  95% {
    top: 90%;
    opacity: 0;
  }

  100% {
    top: 30%;
    opacity: 0;
  }
}

.snow {
  transform: translateX(-50%);
  animation-name: dropNrotate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 0 50%;
}

@keyframes dropNrotate {
  0% {
    rotate: 0;
    top: 30%;
    opacity: 0;
  }

  5% {
    rotate: 0;
    top: 30%;
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  95% {
    rotate: 360deg;
    top: 95%;
    opacity: 0;
  }

  100% {
    rotate: 0;
    top: 30%;
    opacity: 0;
  }
}

.tornado {
  top: 50%;
  left: 50%;
  width: 70%;
}

.tornado0,
.tornado2 {
  animation-name: giggleTop;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 0 0;
}

@keyframes giggleTop {
  0% {
    transform: translate(-52%, -50%);
  }

  50% {
    transform: translate(-48%, -50%);
  }

  100% {
    transform: translate(-52%, -50%);
  }
}

.tornado1,
.tornado3 {
  animation-name: giggleBottom;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 0 0;
}

@keyframes giggleBottom {
  0% {
    transform: translate(-48%, -50%);
  }

  50% {
    transform: translate(-52%, -50%);
  }

  100% {
    transform: translate(-48%, -50%);
  }
}

.moonlight {
  animation-name: light;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  transform-origin: 0 0;
  aspect-ratio: 1;
}

@keyframes light {
  0% {
    width: 50%;
    height: auto;
    opacity: 0;
  }

  5% {
    width: 50%;
    height: auto;
    opacity: 1;
  }

  60% {
    opacity: 0.7;
  }

  95% {
    width: 100%;
    height: auto;
    opacity: 0;
  }

  100% {
    width: 50%;
    height: auto;
    opacity: 0;
  }
}

.slidecontainer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 1rem;
}

.slider {
  --moonPhase: url('/dewy/weather/thumb4.png');
  -webkit-appearance: none;
  width: 100%;
  height: 2rem;
  border-radius: 1rem;
  outline: none;
  background-color: rgba(255, 255, 255, 0.2);
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: var(--moonPhase);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: var(--moonPhase);
  cursor: pointer;
}

.moonlightCloud {
  animation-name: light2;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  transform-origin: 0 0;
  transform: translate(-50%, -50%);
  top: 40%;
  left: 35%;
  aspect-ratio: 1;
}

@keyframes light2 {
  0% {
    width: 30%;
    height: auto;
    opacity: 0;
  }

  5% {
    width: 30%;
    height: auto;
    opacity: 1;
  }

  60% {
    opacity: 0.7;
  }

  95% {
    width: 80%;
    height: auto;
    opacity: 0;
  }

  100% {
    width: 30%;
    height: auto;
    opacity: 0;
  }
}

@media (max-aspect-ratio: 0.7) {
  .weatherBtns {
    width: 96vw;
    margin: 0 auto 1rem auto;
  }
}