:root {
  --main: #fe0094;
}

.mmk::selection {
  color: var(--main);
}

.mmk a:hover {
  color: var(--main);
}

.concept{
  transition-duration: 500ms;
}

.concept:hover {
  filter: grayscale(100%) brightness(0.5) blur(2px);
}